main {
  .cart_section {
    max-width: 1440px;
    margin: 0 auto;

    .active {
      background-color: #f5ddb6 !important;
      color: #111 !important;
    }

    .cart_control_title {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    table {
      text-align: center;

      th,
      td {
        margin: auto;
        text-align: center !important;
      }
    }

    .blank_alert {
      text-align: center;
    }

    @mixin btnTemplate {
      font-size: 12px;
      padding: 5px 10px;
      text-transform: uppercase;
      margin: 2px;
      border-radius: 20px;
    }

    .title_btn {
      @include btnTemplate();
      border-radius: 5px !important;
      color: #fff;
      background-color: #95a8ff;
      width: 100%;
      text-align: center;
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    .delete_product {
      @include btnTemplate();
      color: #fff;
      background-color: #ff4f4f;
    }

    .buy_confirm {
      @include btnTemplate();
      color: #252525;
      background-color: #7aff52;
    }

    button:hover {
      background-color: #f5ddb6;
      color: #252525;
    }
  }
}
