main {
  .product_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;

    .product_taital {
      width: 100%;
      float: left;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      color: #232322;
      font-weight: bold;
    }

    .product_text {
      width: 100%;
      float: left;
      font-size: 16px;
      text-align: center;
      color: #50504f;
      margin: 0px;
    }

    .product_section_2 {
      width: 100%;
      float: left;
      padding-top: 30px;
    }

    .product_box {
      width: 100%;
      background-color: #ffffff;
      height: auto;
      border: 1px solid #7d7d7cb1;
      padding: 20px 0px 0px 0px;
      margin-top: 30px;

      .product_heart {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate((-50%, -50%));
        color: rgb(254, 152, 169);
        filter: drop-shadow(rgba(99, 99, 99, 0.2) 0px 2px 8px 0px);
        height: 100px;
        width: 100px;
        display: none;
      }

      &:hover {
        transform: scale(1.05);
        background: rgba(224, 255, 217, 0.729);
        transition: ease all 0.5s;
      }

      &:hover .product_heart {
        display: block;
        animation: showHeart 0.2s linear 0s 1 alternate both;
        transition: ease all 0.5s;
      }
    }

    .bursh_text {
      width: 100%;
      font-size: 20px;
      text-align: center;
      color: #1a1c1b;
      font-weight: 600;
    }

    .lorem_text {
      width: 100%;
      font-size: 14px;
      text-align: center;
      color: #50504f;
      margin: 0px;
    }

    .image_1 {
      width: 100%;
      text-align: center;
      margin: 20px 0px;
      padding: 0px 20px;
      // height: 200px;
    }

    .btn_main {
      width: 100%;
      display: flex;
      background-color: rgb(33, 37, 41);
      height: auto;
      padding: 20px 10px 13px 10px;
    }

    .buy_bt {
      float: left;
      width: 100%;
    }

    .buy_bt ul {
      margin: 0px;
      padding: 0px;
    }

    .buy_bt li button {
      float: left;
      font-size: 12px;
      color: #252525;
      padding: 5px 10px;
      background-color: #ffffff;
      text-transform: uppercase;
      margin: 2px;
      border-radius: 20px;
    }

    .buy_bt li button:hover {
      background-color: #f5ddb6;
      color: #252525;
    }

    .buy_bt li.active button {
      background-color: #f5ddb6;
      color: #252525;
    }

    .price_text {
      font-size: 16px;
      color: #fefefd;
      width: 50%;
      padding-top: 5px;
      text-align: right;
    }

    .seemore_bt {
      width: 170px;
      margin: 0 auto;
      padding-top: 60px;
    }

    .seemore_bt button {
      width: 100%;
      float: left;
      font-size: 16px;
      color: #ffffff;
      background-color: rgb(33, 37, 41);
      text-align: center;
      padding: 10px 0px;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .seemore_bt a:hover {
      color: #ffffff;
      background-color: #f5ddb6;
    }
  }
}

@keyframes showHeart {
  from {
    width: 80px;
    height: 80px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}
